{% extends 'base.html.twig' %}

{% block title %}Registro de Usuario{% endblock %}

{% block body %}
    <h1>Registro de Usuario</h1>

    {% if successMessage is defined %}
        <div class="alert alert-success">
            {{ successMessage }}
        </div>
    {% endif %}

    {% if errorMessage is defined %}
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    {% endif %}

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.nombre) }}
    {{ form_row(registrationForm.app) }}
    {{ form_row(registrationForm.apm) }}
    {{ form_row(registrationForm.tel) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword.first) }}
    {{ form_row(registrationForm.plainPassword.second) }}

    <button type="submit" class="btn btn-primary">Registrarse</button>

    {{ form_end(registrationForm) }}
{% endblock %}
